{% extends 'base.html.twig' %}

{% block title %}
{% trans %}controller.employee.title{% endtrans %}
{% endblock %}

{% block body %}
{% if user %}
<div class="d-flex flex-column container">
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column border align-self-start justify-content-start my-2 p-2">
            <div>
                <b>
                    {% trans %}controller.employee.first_name{% endtrans %}:
                </b>
                <span>{{ user.firstName }}</span>
            </div>
            <div>
                <b>
                    {% trans %}controller.employee.last_name{% endtrans %}:
                </b>
                <span>{{ user.lastName }}</span>
            </div>
            <div>
                <b>
                    {% trans %}controller.employee.email{% endtrans %}:
                </b>
                <span>{{ user.email }}</span>
            </div>
            {% if user.workplace %}
            <div>
                <b>
                    {% trans %}controller.employee.workplace{% endtrans %}:
                </b>
                <span>{{ user.workplace }}</span>
            </div>
            {% endif %}
            <div>
                <b>
                    {% trans %}controller.employee.available_vacation_days{% endtrans %}:
                </b>
                <span>{{ user.getAvailableVacationDays }}</span>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-between my-2">
            <a class="btn btn-danger" href="{{ path('app_logout') }}">
                {% trans %}controller.employee.logout{% endtrans %}
            </a>
            {% if user.isTeamLead or user.isProjectLead %}
            <a class="btn btn-primary" href="{{ path('app_employee_check_vacation_requests') }}">
                {% trans %}controller.employee.view_vacation_requests{% endtrans %}
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="border p-2">
        <h2>
            {% trans %}controller.employee.table_title{% endtrans %}
        </h2>
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans %}controller.employee.from_to{% endtrans %}</th>
                    <th scope="col">{% trans %}controller.employee.status{% endtrans %}</th>
                    <th scope="col">{% trans %}controller.employee.description{% endtrans %}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for request in vacation_requests %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ request.getFromDate|date('d.m.Y') }} - {{ request.getToDate|date('d.m.Y') }} ({{
                        request.daysRequested }})</td>
                    <td>{{ request.getStatus|trans }}</td>
                    <td>{{ request.getDescription }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            {% if request.isRemovable %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <form action="{{ path('app_vacation_request_remove', { id: request.getId })}}"
                                        method="post">
                                        <input class="dropdown-item" type="submit"
                                            value="{% trans %}controller.employee.delete{% endtrans %}">
                                    </form>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="{{ path('app_vacation_request') }}">
                {% trans %}controller.employee.new_request{% endtrans %}
            </a>
        </div>
    </div>
</div>
{% endblock %}
